@import '../helpers/animation.scss';
@import '../helpers/flex-mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
$font-gray: #777777;
$main-bg-color: white;
$sub-bg-color: #f7f7f7;
$border-color: #f1f1f1;
$main-color-hover: rgb(10, 107, 87);
$golden-color: #fed136;
$small-dev: 576px;
$big-screen: 1680px;
$medium-dev: 992px;

* {
	box-sizing: border-box; //include border and padding in total width and height of the all elements
}

body {
	font-family: 'Monserrat', sans-serif;
	font-weight: 400;
	@include flexbox();
	@include flex-direction(column); //column flow
	@include align-items(stretch); //items inside are stretched to fit the container
	@include justify-content(flex-start); //The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis
	@include align-content(flex-start); //The align-content property modifies the behavior of the flex-wrap property. It is similar to align-items, but instead of aligning flex items, it aligns flex lines.
	@media (min-width: $big-screen) {
		margin-bottom: 7%; //bug with dissapearing footer corrected for big screens
	}
	.my-jumbotron {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		background: url('../images/build/jumbo.jpg') no-repeat center center;
		background-size: cover;
		height: 100vh;
		min-height: 100vh; //not working correctly on mozilla without setting min-height
		color: white;
		>.my-navbar {
			@include flex(0 1 auto);
			width: 100vw;
			min-width: 100vw;
			ul {
				@include flexbox();
				@include flex-direction(row);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				@include flex-wrap(wrap);
				padding: 0;
				list-style-type: none;
				li {
					@include flex(0 1 5%);
					font-size: 14px;
					padding: 20px 30px;
					font-weight: 400;
					text-transform: uppercase;
					text-align: center;
					@media screen and (max-width: $small-dev) {
						padding: 10px 10px;
						@include flex(0 0 100%);
					}
					@media screen and (orientation: landscape) and (max-width: $medium-dev) {
						padding: 10px 10px;
						font-size: 12px;
					}
					&:first-child {
					  @include flex(0 1 40%);
						font-family: 'Oleo Script', cursive;
						color: $golden-color;
						font-size: 26px;
						text-transform: none;
						text-align: left;
						@media screen and (max-width: $small-dev) {
							padding: 10px 10px;
							@include flex(0 0 100%);
							text-align: center;
						}
					}
					span {
						&:hover {
						opacity: .5;
						cursor: pointer;
						transition: .3s;
						-webkit-transition: .3s;
						}
					}
				}
			}
		}
		>.my-inside-content {
			@include flex(1 0 auto);
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			button.my-jumbo-button {
				margin: 30px 0;
			}
			h1 {
				text-transform: uppercase;
				font-size: 75px;
				font-weight: 700;
			}
			h2 {
				font-size: 40px;
				font-style: italic;
			}
			h1, h2 {
				@media screen and (max-width: $small-dev) {
					font-size: 1.2em;
					margin: 30px 0;
				}
				@media screen and (orientation: landscape) and (max-width: $medium-dev){
					font-size: 1em;
					margin: 10px 0;
				}
			}
		}
	}

	.my-section2 {
		.my-section2-cards {
			.my-section2-card {
				margin: 10px;
				border: none;
				@include flex(0 0 24%);
				@media (max-width: $small-dev) {
					@include flex(0 0 80%);
				}
				.my-section2-header {
					border: none;
					i {
						color: $golden-color;
						&:hover {
							opacity: .5;
							cursor: pointer;
							transition: .3s;
							-webkit-transition: .3s;
						}
					}
				}
				>div {
					h5 {
						font-weight: 700;
						margin: 0;
						padding: 0 0 10px 0;
					}
					p {
						color: $font-gray;
					}
				}
			}
		}
	}

	.my-section2, .my-section3, .my-section4, .my-section5, .my-section6 {
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include align-content(center);
		.my-section2-cards, .my-section3-cards, .my-section5-team, .my-section6-logos {
			@include flexbox();
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			margin: 0 0 50px 0;
			.my-section3-card, {
				margin: 10px;
				@include flex(0 0 24%);
				@media (max-width: $small-dev) {
					@include flex(0 0 80%);
				}
				&:hover {
					opacity: .5;
					cursor: pointer;
					transition: .3s;
					-webkit-transition: .3s;
				}
				>div {
					padding: 20px;
					h5 {
						font-weight: 700;
						margin: 0;
					}
					p {
						font-style: italic;
						color: $font-gray;
					}
				}
			}
		}
	}

	.my-section4 {
		margin: 0 0 50px 0;
		.separator {
			min-height: 80px;
			min-width: 5px;
			background-color: $border-color;
			@media screen and (max-width: $small-dev) {
				min-height: 40px;
			}
		}
		.my-section4-content {
			@include flexbox();
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(center);
			@include align-content(center);
			@include flex-wrap(wrap);
			.my-section4-text {
				@include flex(0 0 30%);
				max-width: 20%;
				padding: 0;
				margin: 0;
				@media screen and (max-width: $small-dev) {
					max-width: 25%;
				}
				h6 {
					text-transform: uppercase;
					font-weight: bold;
				}
				p {
					font-size: .9em;
					color: $font-gray;
					&:last-child {
						@media screen and (max-width: $small-dev) {
							display: none;
						}
					}
					&:not(:last-child) {
						font-weight: bold;
						font-size: .9em;
					}
				}

				h6, p:not(:last-child) {
					@media screen and (max-width: $small-dev) {
						font-size: .7em;
					}
				}
			}
			.my-section4-text-before {
				position: absolute;
				left: 20%;
				text-align: right;
				@media screen and (min-width: $big-screen) {
					left: 23%;
				}
				@media screen and (max-width: $small-dev) {
					left: 5%;
				}
				@media (orientation: landscape) and (min-width: $small-dev) and (max-width: $medium-dev){
					left: 10%;
				}
			}
			.my-section4-text-after {
				position: absolute;
				right: 20%;
				text-align: left;
				@media screen and (min-width: $big-screen) {
					right: 23%;
				}
				@media screen and (max-width: $small-dev) {
					right: 5%;
				}
				@media (orientation: landscape) and (min-width: $small-dev) and (max-width: $medium-dev) {
					right: 10%;
				}
			}

			.my-section4-pic {
				@include flex(0 0 50%);
				padding: 5px;
				border: 8px solid $border-color;
				border-radius: 50%;
				@media screen and (max-width: $small-dev) {
					@include flex(0 0 35%);
				}
				&:hover {
					opacity: .4;
					cursor: pointer;
					border-color: lightblue;
					transition: .3s;
					-webkit-transition: .3s;
				}
			}
		}
	}

	.my-section5 {
		padding: 0 0 50px 0;
		.my-section5-team {
			.my-section5-member {
				margin: 20px;
				@include flex(0 0 20%);
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				img {
					border: 5px solid gray;
				}
				h6 {
					padding-top: 15px;
					font-weight: bold;
				}
				p {
					color: $font-gray;
				}
				.my-section5-icons {
					@include flexbox();
					@include flex-direction(row);
					@include align-items(center);
					@include justify-content(center);
					@include align-content(center);
					div {
						margin: 5px;
						width: 35px;
						height: 35px;
						padding: 5px;
						border: 3px solid black;
						text-align: center;
						border-radius: 50%;
						&:hover {
							background-color: black;
							color: white;
							cursor: pointer;
							transition: .3s;
							-webkit-transition: .3s;
						}
					}
				}
			}
		}
		.my-section5-footer {
			color: $font-gray;
			text-align: center;
			width: 60%;
		}
	}

	.my-section6 {
		.my-section6-logos {
			padding: 30px 0 30px 0;
			.my-section6-logo {
				@include flex(0 0 15%);
				min-width: 200px;
				padding: 15px;
				opacity: .4;
				&:hover {
					opacity: 1;
					transition: .3s;
					-webkit-transition: .3s;
					cursor: pointer;
				}
			}
		}
	}

	.my-section7-back {
		@include flexbox();
		@include flex-direction(column);
		@include align-items(stretch);
		@include justify-content(center);
		@include align-content(stretch);
		background: url('../images/build/map.jpg') no-repeat center center;
		background-size: cover;
		height: 100vh;
		min-height: 100vh;
			.my-section7-jumbo {
				@include flex(0 1 100%);
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				@include align-content(center);
				background-color: rgba(0, 0, 0, .2);
				background-size: cover;
				height: 100vh;
				min-height: 100vh;
				color: white;
				&:hover {
					background-color: rgba(0, 0, 0, .7);
					transition: 1s;
				}
				transition: 1s;
				.my-section7-form {
					@include flex(0 1 auto);
					@include flexbox();
					@include flex-direction(row);
					@include align-items(center);
					@include justify-content(center);
					@include align-content(center);
					@include flex-wrap(wrap);
					align-self: stretch;
					.my-section7-left {
						@include flex(0 1 20%);
						margin: 30px;
						@media screen and (max-width: $small-dev) {
							@include flex(0 1 90%);
							margin: 10px;
						}
					}
					.my-section7-right {
						margin: 30px;
						@include flex(0 1 40%);
						@media screen and (max-width: $small-dev) {
							@include flex(0 1 90%);
							margin: 10px;
						}
					}
					@media screen and (max-width: $small-dev) {
						@include flex(0 1 100%);
					}
				}
				button {
					@include flex(0 1 auto);
					margin: 10px;
				}
			}
	}

	.my-section8 {
		padding: 20px;
		@include flex(0 0 100%);
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(flex-start);
		@include align-content(center);
		@include flex-wrap(wrap);
		@media screen and (max-width: $small-dev) {
			@include justify-content(center);
		}
		p {
			@include flex(0 0 30%);
			text-align: center;
			font-size: 14px;
			padding-top: 10px;
			@media screen and (max-width: $small-dev) {
				@include flex(0 1 90%);
				@include order(1);
				font-size: 12px;
			}
		}
		.my-section8-icons {
			@include flexbox();
			@include flex(0 0 30%);
			@include flex-direction(row);
			@include align-items(center);
			@include justify-content(flex-end);
			@include align-content(center);
			@include flex-wrap(nowrap);
			@media screen and (max-width: $small-dev) {
				@include flex(0 1 90%);
				@include justify-content(center);
				@include order(0);
			}
			div {
				margin: 5px;
				width: 50px;
				height: 50px;
				padding: 5px;
				border: 3px solid black;
				text-align: center;
				border-radius: 50%;
				color: white;
				background-color: black;
				&:hover {
					background-color: white;
					color: black;
					cursor: pointer;
					transition: .3s;
					-webkit-transition: .3s;
				}
			}
		}
	}

	.my-section3, .my-section5 {
		background-color: $sub-bg-color;
	}				//changind bg color only for specific sections
}

.my-jumbo-button {
	background-color: $golden-color;
	color: white;
	text-transform: uppercase;
	padding: 15px 40px;
	border-radius: 3px;
	&:hover {
		background-color: rgba($golden-color, .5);
		color: white;
		cursor: pointer;
	}
	@media screen and (max-width: $small-dev) {
		padding: 5px 20px;
		font-size: smaller;
	}
}
.my-section-heading {
	padding: 70px 0 30px 0;
	text-align: center;
	@media screen and (max-width: $small-dev) {
		padding: 10px 0 10px 0;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 700;
		@media screen and (max-width: $small-dev) {
			padding: 10px 0 10px 0;
			font-size: 25px;
		}
	}
	p {
		font-style: italic;
		color: $font-gray;
	}
}
